a.tc-link-tag {
  .threatconnect-summary-tag {
    background-color: #fff;
    border: 1px solid #f97b06;
    padding: 1px 5px 2px;
    border-radius: 16px;
    color: #07213a;
    margin: 0 2px 5px 0;
    display: inline-block;
    font-weight: normal;
  }

  .threatconnect-summary-tag:hover {
    background-color: #d9d9d9;
  }

  .tag-close-icon {
    font-size: 10px;
    color: #777;
  }

  .tag-close-icon:hover {
    color: red;
  }
}

.data-block-container {
  margin-bottom: 15px;
}

.data-block-container:last-child {
  margin-bottom: 0px;
}

pre {
  overflow-y: scroll;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-height: 150px;
  padding: 5px;
  background-color: #eee;
}

.elementToFadeIn {
  -webkit-animation: fadeinout 1s linear forwards;
  animation: fadeinout 1s linear forwards;
  opacity: 0;
  padding-top: 3px;
}

@-webkit-keyframes fadeinout {
  100% {
    opacity: 1;
  }
}

@keyframes fadeinout {
  100% {
    opacity: 1;
  }
}

.report-false-positive-btn {
  height: 25px;
  font-size: 0.775rem;
  margin-top: 5px;
}

.add-tag-input {
  cursor: text;
  height: 30px;
}

.threat-assess-bar {
  height: 6px;
  margin: 3px 0;

  .progress-bar {
    background-color: rgb(242, 103, 36);
  }
}

.btn-add-tag {
  height: 30px !important;
  width: 60px;
  font-size: 0.775rem !important;
}

a.tc-link-tag:hover {
  text-decoration: none;
}

.tag-container {
  padding: 5px 0;
  position: relative;
}

.rating-icon {
  cursor: pointer;
}

.rating-icon-filled {
  font-weight: normal;
}

.rating-icon-empty {
  color: #9a9a9a;
}

.external-icon {
  font-size: 8px;
}

.playbook-title {
  margin-top: 10px;
}

.dns-information {
  margin: 10px;
}
