@border-color: #e4e9f2;

.org-container {
  margin-top: 15px;
  border: 1px solid @border-color;
  // border-bottom: 1px solid @border-color;
  border-radius: 4px;

  &:first-child {
    margin-top: 0px;
  }

  .header-container {
    border-bottom: 1px solid @border-color;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.expanded {
      border-bottom: 0px;
    }

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
    }

    .toggle-btn {
      font-size: 12px;
      padding: 0px;
      height: 20px;

      :active {
        color: darken(#388e3c, 5%);
      }
    }
  }

  .content-container {
    padding: 6px;
  }
}

.paging-bar {
  display: flex;
  align-items: center;
  margin-top: 5px;
  justify-content: flex-end;

  .paging-info {
    margin: 0px 5px;
  }

  .paging-btn {
    border: 1px solid #e4e9f2;
    height: 20px;
    padding: 0px 8px 0px 8px;

    &:hover:enabled {
      background-color: darken(#e4e9f2, 5%);
    }
  }
}

.preserve-whitespace {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
}

.p-block {
  word-wrap: break-word;
  word-break: break-word;
}

.scrollable {
  overflow-y: scroll;
  max-height: 100px;
}

.emphasize-text {
  font-weight: 500 !important;
}

.dns-table {
  .dns-table-ip {
    width: 100px;
  }

  .dns-table-asn {
    width: 60px;
  }

  .dns-table-org {
    word-break: break-word;
    word-wrap: break-word;
  }

  td {
    padding: 2px 5px 2px 0px !important;
  }

  tr:nth-child(even) {
    td {
      padding-bottom: 10px !important;
    }
  }

  tr:last-child {
    td {
      padding-bottom: 0px !important;
    }
  }
}

a.tc-link-tag {
  .threatconnect-summary-tag {
    background-color: #fff;
    border: 1px solid #f97b06;
    padding: 1px 5px 2px;
    border-radius: 16px;
    color: #07213a;
    margin: 0 2px 5px 0;
    display: inline-block;
    font-weight: normal;
  }

  .threatconnect-summary-tag:hover {
    background-color: #d9d9d9;
  }

  .tag-close-icon {
    font-size: 10px;
    color: #777;
  }

  .tag-close-icon:hover {
    color: red;
  }
}

.security-label {
  background-color: #fff;
  border: 1px solid #d8dde7;
  padding: 1px 5px 2px;
  border-radius: 4px;
  color: #07213a;
  margin: 0 2px 5px 0;
  display: inline-block;
  font-weight: normal;

  .label-color {
    height: 8px;
    width: 8px;
    display: inline-block;
    border: 1px solid #d8dde7;
    margin-right: 3px;
    border-radius: 2px;
  }
}

.red-text {
  color: #ff4559;
}

.green-text {
  color: #7bc942;
}

.orange-text {
  color: #FF8F00;
}

.maroon-text {
  color: darken(#ff4559, 40%)
}

.data-block-container {
  margin-bottom: 15px;
}

.data-block-container:last-child {
  margin-bottom: 0px;
}

.info-bar {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  border: 1px solid #eee;

  &.no-border {
    border: none;

    .info-bar-pill {
      padding: 3px 5px 3px 0px;
    }
  }

  .info-bar-row {
    display: flex;
    border-bottom: 1px dashed #eee;

    &:last-child {
      border-bottom: none;
    }
  }

  .info-bar-pill {
    display: inline-block;
    padding: 3px 5px 3px 5px;
    width: 33%;

    &.two-wide {
      width: 50%;
    }

    &.three-wide {
      width: 33%;
    }

    .info-bar-key {
      width: 100%;
      display: inline-block;
      font-size: 10px;
    }

    .info-bar-value {
      display: inline-block;
      width: 100%;
      font-weight: 500;
    }
  }
}

.card {
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #eee;

  &:last-child {
    margin-bottom: 0px;
  }

  .card-title {
    border-bottom: 1px solid #eee;
    margin: 0px;
    padding: 5px;
    font-weight: 500;
  }

  .card-item {
    padding: 3px 5px 3px 5px;
  }
}

.score {
  font-weight: 500;
  font-size: 14px;

  .score-readable {
    text-transform: uppercase;
    font-size: 12px;
  }

  &.critical {
    color: rgb(125, 22, 22);
  }

  &.high {
    color: rgb(217, 39, 54);
  }

  &.medium {
    color: rgb(224, 108, 0);
  }

  &.low {
    color: rgb(101, 119, 149)
  }
}

.global-details-container {

  position: relative;

  .loading-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    font-size: 14px;
  }

  &.loading {
    &:after {
      content: " ";
      z-index: 10;
      display: block;
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      border-radius: 4px;
      background: rgba(255, 255, 255, 0.8);
    }
  }

}

.p-key {
  line-height: 1.4em;
}

.p-title {
  font-size: 12px;
  color: rgb(101, 112, 134);
  font-weight: 700;
}

.info-icon {
  font-size: 10px;
  color: rgb(101, 112, 134);
  border: 1px solid rgb(101, 112, 134);
  border-radius: 11px;
  height: 11px;
  width: 11px;
  padding: 2px;
}


pre {
  overflow-y: scroll;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-height: 150px;
  padding: 5px;
  border: 1px solid @border-color;
  border-radius: 4px;
  margin-bottom: 0px;
}

.active-icon {
  color: #2a9d75;
}

.inactive-icon {
  color: rgb(101, 112, 134);
}

.elementToFadeIn {
  -webkit-animation: fadeinout 1s linear forwards;
  animation: fadeinout 1s linear forwards;
  opacity: 0;
  padding-top: 3px;
}

@-webkit-keyframes fadeinout {
  100% {
    opacity: 1;
  }
}

@keyframes fadeinout {
  100% {
    opacity: 1;
  }
}

.action-btn {
  height: 25px;
  font-size: 0.775rem;
  margin-top: 5px;
}

.add-tag-input {
  cursor: text;
  height: 30px;
}

.threat-assess-bar {
  height: 6px;
  margin: 3px 0;

  .progress-bar {
    &.critical {
      background-color: rgb(125, 22, 22);
    }

    &.high {
      background-color: rgb(217, 39, 54);
    }

    &.medium {
      background-color: rgb(224, 108, 0);
    }

    &.low {
      background-color: rgb(101, 119, 149)
    }
  }
}

.btn-add-tag {
  height: 27px !important;
  width: 60px;
  font-size: 0.775rem !important;
}

a.tc-link-tag:hover {
  text-decoration: none;
}

.tag-container {
  padding: 5px 0;
  position: relative;
}

.rating-icon {
  cursor: pointer;
}

.rating-icon-filled {
  font-weight: normal;
}

.rating-icon-empty {
  color: #9a9a9a;
}

.external-icon {
  font-size: 8px;
  margin-bottom: 1px;
}

.playbook-title {
  margin-top: 10px;
}